<% if @pile.errors.any? %>
    <ul>
        <% @pile.errors.messages.each do |key, m| %>
            <li>
                <%= key %>, <%= m[0] %>
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @pile do |f| %>
  <p>
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </p>

  piling<%= radio_button 'pile', 'status', 'piling', checked: @pile.piling? %>
  playing<%= radio_button 'pile', 'status', 'playing', checked: @pile.playing? %>
  done<%= radio_button 'pile', 'status', 'done', checked: @pile.done? %>

  <p>
    <%= f.submit %>
  </p>

<% end %>
