<% if !@user.guest? %>
  <%= link_to('pile', piles_path) %>
<% end %>

<%= @user.name %>
<% if @user.guest? %>
  <p>積みゲーの記録をつける</p>
<% else %>
  <%= link_to 'Delete account', delete_account_path(@user.id), method: :delete %>
<% end %>


<h5>60min</h5>
<ul>
  <% @ranking_60min.each do |ranking| %>
    <% content = ranking[:content] %>
    <li>
      <%= link_to content.name, content_path(content.id) %>
      <%= ranking[:count] %>
    </li>
  <% end %>
</ul>

<h5>all</h5>
<ul>
  <% @ranking_all.each do |ranking| %>
    <% content = ranking[:content] %>
    <li>
      <%= link_to content.name, content_path(content.id) %>
      <%= ranking[:count] %>
    </li>
  <% end %>
</ul>
