<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>pog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand aldrich">pog</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <% if @user.guest? %>
            <li><%= link_to 'Login', '/auth/twitter' %></li>
          <% else %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= "@#{@user.name}" %><span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><%= link_to 'Settings', root_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Logout', logout_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>

  <div class="js-main-container container">
    <%= yield %>
  </div>

  <div class="js-modal-container"> 
    <div class="js-edit-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form accept-charset="UTF-8" action="/piles" class="new_pile" id="new_pile" method="post">
              <div style="display:none">
                <input name="utf8" type="hidden" value="✓">
                <input name="authenticity_token" type="hidden" value="NHSVzpjcJOXpM3+8UJCKLhaOYPnP+zM+91Wj5ydUpew=">
              </div>
              <p>
                <label for="pile_name">Name</label>
                <input id="content_name" name="content_name" type="text">
              </p>
              <p>
                <label for="pile_platform">Platform</label>
                <input id="platform_names" name="platform_names" type="text">
              </p>
              カンマ区切りで複数指定できます。

              <p>
                <label for="pile_memo">Memo</label>
                <input id="pile_memo" name="pile[memo]" type="text">
              </p>

              piling<input checked="checked" id="pile_status_piling" name="pile[status]" type="radio" value="piling">
              playing<input id="pile_status_playing" name="pile[status]" type="radio" value="playing">
              done<input id="pile_status_done" name="pile[status]" type="radio" value="done">

              <p>
                <input name="commit" type="submit" value="Create Pile">
              </p>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline">
        <li><%= link_to 'About', root_path %></li>
        <li>|</li>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </div>
  </footer>

</body>
</html>
